body {
    margin: 0;
    min-width: 320px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    color: rgba(75, 93, 104, 1);
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

h1 h2 h3 h4 {
    color: rgba(33, 35, 83, 1);
}

a {
    color: rgba(75, 93, 104, 1);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    font-weight: bold;
}

a:focus,
a:active {
    opacity: 0.2;

}

h1 {
    font-size: 80px;
    line-height: 88px;
    max-width: 800px;
}

p a {
    color: rgba(75, 93, 104, 1);
    font-size: 18px;
    line-height: 28;
}

h2 {
    font-size: 40px;
    line-height: 52px;
}



.button {
    background: #ab2be6;
    border-radius: 40px;
    max-width: 170px;
    height: auto;
    color: #FFFFFF;
    padding: 20px 30px;
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    border: none;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.5;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    padding-left: 40px;
}

.header-container {
    /* width: 1120px; */
    display: flex;
    margin: 30px auto;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 120px;
}

.list-item {
    margin-right: 50px;
}

.data-container {
    position: relative;
    margin: 0 auto;
}

.data-text {
    width: 35%;
}

.data-photo {
    position: absolute;
    right: -50px;
    bottom: -80px;
    width: 65%;
    height: 420px;
    margin-left: 0px;
    background-size: cover;
    background-position: center;
}


.about-container {
    display: flex;
    background-color: #fac6e5;
    margin: 220px auto;
    border-radius: 20px;
    justify-content: space-between;
}

.about-photo {
    width: 43%;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.about-text {
    width: 57%;
    padding: 100px 70px 100px 70px;
}

.about-text h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    margin-top: 0;
}

.features-container {
    margin: 0 auto;
}

.title-features {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 530px;
    padding-bottom: 100px;
}

.features-type-list a, p {
    font-size: 16px;
    line-height: 25px;
}

.features-type-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
}

.features-item-link {
    position: relative;
}

.features-picture {
    background-repeat: no-repeat;
    width: 540px;
    height: 360px;
    display: flex;
}

.features-item-link::before {
    content: " ";
    display: block;
    position: absolute;
    left: 95px;
    top: 5px;
    width: 23px;
    height: 15px;
    background: url(../img/arrow.png);
}



.features-type-text {
    margin-left: 220px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.testimonials-container {
    background: #ab2be6;
    padding-right: 0;
    margin: 220px auto;
    border-radius: 20px;
}

.testimonials h2 {
    color: white;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

.slide1 {
    position: relative;
    background-color: white;
    /* width: 650px;
    height: 330px; */
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 0 15px 10px #5c0783;
    border: #ab2be6 solid 1px;

}

.content-slide1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgb(242, 226, 243) 0.75%, rgba(255, 255, 255, 0)100%);
    /* background: linear-gradient(270deg, #fff 9.75%, rgba(255, 255, 255, 0)100%); */
    border-radius: 20px;
    top: 0;
    left: 0;
}

.content-slide1 {
    display: flex;
    width: 500px;
    padding: 50px;
}

h4 {
    font-size: 18px;
    line-height: 29px;
}

.testimonials p {
    font-size: 15px;
    line-height: 25px;
}

.testimonials-text {
    margin-left: 20px;
}

.testimonials-contact {
    color: rgba(156, 105, 226, 1);
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.slider:not(:first-child) {
    overflow: hidden;
}

.pagination {
    display: flex;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.pagination :first-child {
    color: rgb(219, 38, 165);
    width: 5px;
    height: 5px;
}

.circle {
    color: white;
    width: 3px;
    padding: 10px;
}

.pagination::after {
    content: " ";
    display: block;
    position: absolute;
    left: 960px;
    top: 15px;
    width: 23px;
    height: 15px;
    background: url(../img/arrow.png);
}

.pagination::before {
    content: " ";
    display: block;
    position: absolute;
    left: 900px;
    top: 15px;
    width: 33px;
    height: 15px;
    background: url(../img/left.png);
}

.pagination:hover {
    opacity: 0.7;
    font-weight: bold;
}

.pagination:focus,
.pagination:active {
    opacity: 0.2;

}

.footer-container {
    border-top: 2px solid rgb(209, 213, 216);
}

.content-footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
}

.contact-footer {
    max-width: 270px;
}

.logo-footer {
    display: flex;
}

.logo-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    padding-left: 20px;
    margin: 0;
}

.contact-text {
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
}

.copyright {
    font-size: 12px;
    line-height: 21px;
}

.social-taitle {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}

.social-list {
    display: flex;
    padding: 0;
}

.social-item {
    position: relative;
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(209, 213, 216);
    list-style: none;

}

.social-list :first-child {
    margin: 0;
}

.social-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1100px) {
    .slider:not(:first-child) {
        overflow: hidden;
    }

    .data-text {
        width: 40%;
    }

    .data-photo {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .pagination::before {
        left: 500px;
    }

    .pagination::after {
        left: 540px;
    }

    .data-photo {
        position: relative;
        width: 100%;
        height: 420px;
        margin-top: 20px;
        background-size: cover;
    }

    .data-text {
        width: 100%;
    }

    .about-container {
        flex-wrap: wrap;
    }

    .about-photo {
        width: 380px;
        height: 410px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .about-text {
        width: 100%;
    }
}

@media (max-width: 670px) {

    .testimonials-container {
        margin: 30px auto;
    }

    .slide1 {
        padding-right: 20px;
        width: 400px;
    }

    .content-slide1 {
        width: 350px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media (max-width: 550px) {
    .container {
        margin: 10px;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .nav-list {
        margin: 20px;
    }

    .data-container {
        padding: 0;
    }

    .data-photo {

        right: 0;
        bottom: 0;
        width: 100%;
    }

    .about-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 35px;
        line-height: 35px;
    }

    h3 {
        margin: 5px;
    }

    .about-text {
        padding: 5px;
    }

    .about-photo {
        width: 250px;
        height: 250px;
    }

    .testimonials-container {
        padding: 0;
    }

    .testimonials-text {
        margin: 0;
    }

    .content-slide1 {
        width: 300px;
    }

    .pagination::before {
        left: 200px;
    }

    .pagination::after {
        left: 240px;
    }

    .content-footer {
        padding: 20px;
        flex-direction: column;
    }

    .title-features {
        margin-bottom: 10px;
    }

    .features-type-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .features-container {
        padding: 0;
    }

    .features-type-text {
        padding: 5px;
        justify-content: stretch;
        width: 170px;
        margin-left: 180px;
    }

    .features-type-text p {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .features-picture {
        width: 100%;
    }

    .footer-container {
        padding: 10px;
    }

}